In [4]:
#Day-5 (5-8-25)
# tuple
tup1=('ram',3,1996)
print(tup1)

print(type(tup1))

('ram', 3, 1996)
<class 'tuple'>

In [6]:
tup=tuple([1,2,3])
print(tup)

(1, 2, 3)

In [36]:
#adding element
tup=(1,2,3,4,5)
tup=tup+(7,)
tup+(10,) # will not add any element
print(tup)

(1, 2, 3, 4, 5, 7)

In [16]:
# Write a python program to input ‘n’ employee salaries and find the minimum and maximum salary amongst ‘n’ employees.

n = int(input("Enter the number of employees: "))
salaries = []
for i in range(n):
    salary =input("Enter salary of employee: ")
    salaries.append(salary)

min_salary = min(salaries)
max_salary = max(salaries)

print(" Salary Report : ")
print("Minimum Salary:", min_salary)
print("Maximum Salary:", max_salary)

Enter the number of employees:  4
Enter salary of employee:  15000
Enter salary of employee:  3500
Enter salary of employee:  20000
Enter salary of employee:  5200

 Salary Report :
Minimum Salary: 15000
Maximum Salary: 5200

In [22]:
#membeship 
tup=(1,2,3,4,5)
4 in tup

True

In [24]:
# mul
tup=(1,2,3,4,5)*2
print(tup)

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [26]:
t = tuple()
t = t + ('PYTHON',)
print(t)
print(len(t))
t1 = (10, 20, 30)
t2 = t1 + t
print(len(t2))
t3 = t1 * 2
print(t3)

('PYTHON',)
1
4
(10, 20, 30, 10, 20, 30)

In [34]:
# Write a program to input ‘n’ employee numbers and names and store them in a dictionary.
# Display dictionaries employee’s names(key) and numbers(values) together.

employees = {}
n = int(input("Enter the number of employees: "))

for i in range(n):
    name = input("Enter name of employee: ")
    emp_num = input("Enter employee number for: ")
    employees[name] = emp_num

print("Employee Directory will be ")
for name, number in employees.items():
    print("Name: " + name + ", Employee Number: " + number)

Enter the number of employees:  2
Enter name of employee:  alice
Enter employee number for:  13
Enter name of employee:  bob
Enter employee number for:  15

Employee Directory will be
Name: alice, Employee Number: 13
Name: bob, Employee Number: 15